@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

html {
  height: 100%;
}

img {
  vertical-align: middle;
}

body {
  font-family: "Noto Sans CJK TC", "Noto Sans TC", "Microsoft JhengHei", "PingFang", "STHeiti", sans-serif, serif;
}

.typeBtn-primary {
  padding: 12px 32px;
  border-radius: 27px;
  background: #56C4C5;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: "Noto Sans CJK TC", "Noto Sans TC", "Microsoft JhengHei", "PingFang", "STHeiti", sans-serif, serif;
  font-size: 1.125rem;
}

.typeBtn-primary:hover {
  background: #F5CA52;
  color: #000;
}

.typeBtn-secondary {
  padding: 8px 32px;
  border-radius: 22px;
  background: #FF5D50;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: "Noto Sans CJK TC", "Noto Sans TC", "Microsoft JhengHei", "PingFang", "STHeiti", sans-serif, serif;
}

.typeBtn-secondary:hover {
  background: #56C4C5;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 120px 0;
  margin-bottom: 54px;
}

@media (max-width: 768px) {
  .header {
    padding: 16px 20px;
    border-bottom: 2px solid #F5CA52;
  }
}

.header-title a {
  background: url(../img/logo.png) no-repeat center/contain;
  width: 218px;
  height: 40px;
  z-index: 2;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.topBtn {
  display: block;
  position: fixed;
  background: url(../img/top.png) no-repeat center/contain;
  width: 70px;
  height: 70px;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  z-index: 10;
}

@media (max-width: 768px) {
  .topBtn {
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 20px;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
}

@media (max-width: 1200px) {
  h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 2.01rem;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

@media (max-width: 768px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-weight: 600;
}

h5 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}

.bgBox {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.bgBox-PhotoCurve {
  position: absolute;
  background: url(../img/bg_home.svg) no-repeat center/contain;
  width: 850px;
  height: 768px;
  z-index: -10;
  right: 0;
}

@media (max-width: 1200px) {
  .bgBox-PhotoCurve {
    width: 680px;
    height: 614px;
  }
}

@media (max-width: 992px) {
  .bgBox-PhotoCurve {
    width: 578px;
    height: 522px;
  }
}

@media (max-width: 768px) {
  .bgBox-PhotoCurve {
    background: url(../img/bg_home_sm.svg) no-repeat center/contain;
    width: 347px;
    height: 255px;
    top: 360px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.bgBox-PhotoCircle-A {
  position: absolute;
  background: url(../img/ball01.svg) no-repeat center/cover;
  width: 360px;
  height: 360px;
  z-index: -10;
  top: 588px;
  left: -180px;
}

@media (max-width: 768px) {
  .bgBox-PhotoCircle-A {
    width: 126px;
    height: 126px;
    top: 740px;
    left: -76px;
  }
}

.bgBox-PhotoCircle-B {
  position: absolute;
  background: url(../img/ball02.svg) no-repeat center/cover;
  width: 310px;
  height: 310px;
  z-index: -10;
  top: 1693px;
  right: -155px;
}

@media (max-width: 768px) {
  .bgBox-PhotoCircle-B {
    width: 135px;
    height: 135px;
    top: 2250px;
    right: -47px;
  }
}

@media (max-width: 576px) {
  .bgBox-PhotoCircle-B {
    top: 3060px;
  }
}

.bgBox-PhotoCircle-C {
  position: absolute;
  background: url(../img/ball03.svg) no-repeat center/cover;
  width: 150px;
  height: 150px;
  z-index: -10;
  top: 2710px;
  left: 50px;
}

@media (max-width: 768px) {
  .bgBox-PhotoCircle-C {
    width: 153px;
    height: 153px;
    top: 3365px;
    left: -76px;
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px 0;
  margin-bottom: 220px;
  position: relative;
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    gap: 32px;
    padding: 0 20px;
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .banner-txt {
    align-self: flex-start;
  }
}

.banner-txt p {
  font-size: 1.125rem;
  color: #56C4C5;
  margin-bottom: 8px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .banner-txt p {
    font-size: 1rem;
  }
}

.banner-txt h2 {
  margin-bottom: 16px;
}

.banner-txt span {
  font-size: 1.25rem;
}

@media (max-width: 1200px) {
  .banner-txt span {
    font-size: 1rem;
  }
}

.banner-photo {
  background: url(../img/home.svg) center/cover;
  width: 534px;
  height: 534px;
}

@media (max-width: 1200px) {
  .banner-photo {
    width: 372px;
    height: 372px;
  }
}

@media (max-width: 992px) {
  .banner-photo {
    width: 304px;
    height: 304px;
  }
}

.wrap {
  max-width: 1088px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .wrap {
    padding: 0 8px;
  }
}

.social {
  margin-bottom: 100px;
  text-align: center;
}

@media (max-width: 768px) {
  .social {
    margin-bottom: 60px;
  }
}

.social h3 {
  margin-bottom: 48px;
}

.social-group {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .social-group {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

.social-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
}

.social-card img {
  display: block;
  width: 90px;
  margin-bottom: 16px;
}

.social-card h4 {
  font-size: 1.5rem;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .social-card h4 {
    font-size: 1.125rem;
    margin-bottom: 16px;
  }
}

.social-card p {
  font-weight: 300;
  line-height: 1.5;
}

.creat {
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .creat {
    margin-bottom: 60px;
  }
}

.creat h3 {
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .creat h3 {
    margin-bottom: 16px;
  }
}

.creat-txt {
  font-size: 1.25rem;
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .creat-txt {
    font-size: 1.125rem;
    margin-bottom: 32px;
  }
}

.creat-list {
  display: flex;
  gap: 16px;
}

@media (max-width: 768px) {
  .creat-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
}

@media (max-width: 576px) {
  .creat-list {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
}

.creat-item {
  width: 260px;
  box-shadow: 0 2px 10px #00000014;
  border-radius: 12px;
  margin-bottom: 100px;
  background: #fff;
}

@media (max-width: 768px) {
  .creat-item {
    margin-bottom: 0;
  }
}

.creat-item img {
  display: block;
  border-radius: 12px 12px 0 0;
}

.creat-itemTxt {
  padding: 16px;
}

.creat-itemTxt h4 {
  color: #56C4C5;
  margin-bottom: 16px;
}

.creat-itemTxt p {
  line-height: 1.5;
}

.plan {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .plan {
    margin-bottom: 60px;
    flex-direction: column-reverse;
  }
}

.plan-list {
  max-width: 47%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
}

@media (max-width: 768px) {
  .plan-list {
    max-width: 100%;
    margin-top: 32px;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .plan-list {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.plan-item {
  width: 230px;
  padding: 32px 32px 48px 32px;
  box-shadow: 0 2px 10px #00000014;
  border-radius: 12px;
  background: #fff;
}

@media (max-width: 1200px) {
  .plan-item {
    width: 215px;
  }
}

@media (max-width: 992px) {
  .plan-item {
    width: 163px;
  }
}

@media (max-width: 768px) {
  .plan-item {
    width: 230px;
  }
}

.plan-item img {
  display: block;
  width: 52px;
}

.plan-item h4 {
  font-size: 1.125rem;
  margin-bottom: 16px;
}

.plan-item p {
  line-height: 1.5;
}

.plan-itemBg {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 10px #00000014;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan-content {
  max-width: 53%;
  padding: 0 50px 0 135px;
}

@media (max-width: 1200px) {
  .plan-content {
    padding: 0 50px 0 90px;
  }
}

@media (max-width: 768px) {
  .plan-content {
    max-width: 100%;
    padding: 0;
    text-align: center;
  }
}

.plan-content h3 {
  margin-bottom: 16px;
}

.plan-content p {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 24px;
}

.comment {
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .comment {
    margin-bottom: 60px;
  }
}

.comment h3 {
  margin-bottom: 104px;
  text-align: center;
}

@media (max-width: 768px) {
  .comment h3 {
    margin-bottom: 88px;
  }
}

.comment-list {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .comment-list {
    justify-content: center;
  }
}

.comment-item {
  width: 352px;
  padding: 48px 32px 24px;
  box-shadow: 0 2px 10px #00000014;
  border-radius: 12px;
  background: #fff;
  position: relative;
}

.comment-item img {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 2px 10px #00000014;
  top: -56px;
}

.comment-item p {
  line-height: 1.5;
  padding-bottom: 24px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 24px;
}

.comment-item strong {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
}

.comment-itemUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-stars {
  color: #F5CA52;
}

.comment-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.comment-page .dot {
  font-size: 10px;
  color: #dddddd;
}

.comment-page .dotLong {
  width: 16px;
  height: 10px;
  border-radius: 10px;
  background: #F5CA52;
}

@media (max-width: 768px) {
  .comment .rwdPad {
    display: none;
  }
}

.footer {
  display: block;
}

.footer-box {
  background: url(../img/home_footer.svg) no-repeat center/cover;
  height: 503px;
  position: relative;
}

@media (max-width: 768px) {
  .footer-box {
    background: url(../img/footer_sm.svg) no-repeat center/cover;
    height: 461px;
  }
}

.footer-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

@media (max-width: 768px) {
  .footer-txt {
    bottom: -30%;
    transform: translate(-50%, 0);
  }
}

.footer-txt h3 {
  margin-bottom: 48px;
  white-space: nowrap;
}

.footer span {
  display: block;
  width: 100%;
  text-align: center;
  padding: 16px;
  background: #f5f5f5;
  margin-top: 100px;
}

@media (max-width: 768px) {
  .footer span {
    margin-top: 240px;
  }
}

.bgBoxPrice {
  position: relative;
  overflow: hidden;
}

.bgBoxPrice-PhotoCurve {
  position: absolute;
  width: 100%;
  height: 470px;
  border-radius: 0 0 0 300px;
  background: #f7f9fd;
  top: 0;
  z-index: -15;
}

@media (max-width: 768px) {
  .bgBoxPrice-PhotoCurve {
    height: 495px;
    border-radius: 0 0 0 150px;
    top: 72px;
    right: 0;
  }
}

.bgBoxPrice-PhotoBanner {
  position: absolute;
  background: url(../img/banner.svg) center/cover;
  width: 885px;
  height: 559px;
  top: 0;
  right: 0;
  z-index: -10;
}

@media (max-width: 768px) {
  .bgBoxPrice-PhotoBanner {
    background: url(../img/banner_sm.svg) center/cover;
    max-width: 100%;
    top: 72px;
    left: 0;
  }
}

.bgBoxPrice-PhotoCircle {
  position: absolute;
  background: url(../img/ball03.svg) center/cover;
  width: 360px;
  height: 360px;
  top: 876px;
  left: -266px;
  z-index: -10;
}

@media (max-width: 992px) {
  .bgBoxPrice-PhotoCircle {
    top: 1320px;
  }
}

.bannerPrice {
  padding: 0 120px 0;
  margin: 116px 0 280px 0;
}

@media (max-width: 768px) {
  .bannerPrice {
    margin: 48px 0 460px 0;
    padding: 0 20px;
  }
}

.bannerPrice h2 {
  margin-bottom: 16px;
}

.wrapPrice {
  max-width: 904px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .wrapPrice {
    padding: 0 8px;
  }
}

.priceSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

@media (max-width: 576px) {
  .priceSelect {
    margin-bottom: 60px;
  }
}

.priceSelect h3 {
  margin-bottom: 48px;
  text-align: center;
}

@media (max-width: 576px) {
  .priceSelect h3 {
    margin-bottom: 16px;
  }
}

.priceSelect .rwdMobile {
  display: none;
}

@media (max-width: 576px) {
  .priceSelect .rwdMobile {
    display: block;
  }
}

.priceSelect-list {
  display: flex;
  gap: 16px;
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .priceSelect-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .priceSelect-list {
    margin-bottom: 32px;
  }
}

.priceSelect-item input {
  padding: 12px 32px;
  border-radius: 27px;
  border: 1px solid #56C4C5;
  cursor: pointer;
  color: #56C4C5;
  font-family: "Noto Sans CJK TC", "Noto Sans TC", "Microsoft JhengHei", "PingFang", "STHeiti", sans-serif, serif;
  font-size: 1.125rem;
  background: #fff;
}

@media (max-width: 576px) {
  .priceSelect-item input {
    padding: 8px 16px;
    font-size: 1rem;
    background: #56C4C5;
    color: #fff;
  }
}

.priceSelect-item input:hover {
  background: #56C4C5;
  color: #fff;
}

.priceSelect-planInfoList {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

@media (max-width: 992px) {
  .priceSelect-planInfoList {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .priceSelect-planInfoList {
    gap: 24px;
  }
}

.priceSelect-planInfoItem {
  width: 444px;
  box-shadow: 0 2px 10px #00000014;
  border-radius: 12px;
  padding-top: 12px;
  background: #fff;
}

@media (max-width: 576px) {
  .priceSelect-planInfoItem {
    width: 100%;
    padding-top: 0;
  }
}

.priceSelect-planInfoItem h5 {
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #dddddd;
}

.priceSelect-planInfoItem .planInfoItem-txt {
  text-align: center;
  line-height: 1.5;
  margin-top: 32px;
}

.priceSelect .compareWrap {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
}

.priceSelect .compare {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceSelect .compare-num {
  width: 169px;
  height: 108px;
  padding: 24px 0;
  background: #f5f5f5;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.priceSelect .compare .num-txtSS {
  font-size: 0.75rem;
  margin-bottom: 8px;
}

.priceSelect .compare .num-txtSS-unit {
  font-size: 0.75rem;
  margin-left: 8px;
}

.priceSelect .compare .num-txtBig {
  font-size: 2rem;
  font-family: "Verdana";
}

.priceSelect .compare .num-color {
  color: #56C4C5;
}

.priceSelect .compare .num-equals {
  display: block;
}

.priceSelect .compareContent {
  margin-top: 32px;
}

.priceSelect .compareContent-item {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.priceSelect .compareBtn {
  align-self: center;
  margin-top: 32px;
}

.qaPage h3 {
  margin-bottom: 48px;
  text-align: center;
}

.qaPage .editItem {
  border: 0;
  box-shadow: 0 2px 10px #00000014;
  border-radius: 12px;
  background: #fff;
  margin-bottom: 16px;
}

.qaPage .editBtn::after {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon_plus.svg);
}

.qaPage .accordion-flush .accordion-item .editBtn {
  box-shadow: 0 2px 10px #00000014;
  border-radius: 12px;
  margin-top: 16px;
  padding: 16px 32px;
  font-size: 1.125rem;
  font-weight: 600;
}

@media (max-width: 576px) {
  .qaPage .accordion-flush .accordion-item .editBtn {
    font-size: 1rem;
  }
}

.qaPage .accordion-flush .accordion-item .editBtn:not(.collapsed) {
  color: #56C4C5;
  background-color: #fff;
  box-shadow: none;
}

.qaPage .accordion-flush .accordion-item .editBtn:not(.collapsed)::after {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon_minus.svg);
}

.qaPage .accordion-flush .accordion-item .editBtn:focus {
  border-color: #fff;
}

.qaPage .editBody {
  line-height: 1.5;
  padding: 0 32px 32px;
  margin-top: 8px;
  color: #747474;
}

@media (max-width: 576px) {
  .qaPage .editBody {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=all.css.map */